<h1>Random Recipe</h1>
<p>This is a proof-of-concept SPA built with Angular and the Spoontacular.com API.</p>
<p>Refresh this page for a random coffee-based recipe. Use the navigation to see a list of coffee-based drinks.</p>
<div *ngIf="random">
  <div *ngFor="let recipe of random; let i = index">
    <h2 class="name">
      {{ recipe.results[i].title }}
    </h2>
    <img class="recipe-picture" src="{{ recipe.results[i].image }}" />

    <p>
      <a class="button" href="{{ recipe.results[i].sourceUrl }}"
        >Read Full Recipe</a
      >
    </p>
  </div>
</div>
